
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="mainMenus.length >0 && !isLoading " >
  <mat-expansion-panel *ngFor="let mainmenu of mainMenus" >
    <mat-expansion-panel-header>
        {{ mainmenu.menuname}}
    </mat-expansion-panel-header>
    id: {{mainmenu.id}}
    <br>
    Menu Name: {{ mainmenu.menuname}}
    <br>
    Path: {{ mainmenu.path}}
    <br>
    <div *ngFor="let submenu of mainmenu.children">
      id: {{submenu.id}}
    <br>
    Menu Name: {{ submenu.menuname}}
    <br>
    Path: {{ submenu.path}}
    </div>
    <mat-action-row >
      <a mat-button color="primary"  routerLinkActive="router-link-active" [routerLink]="['/menu/edit',mainmenu.id]">Edit</a>
      <a mat-button color="primary"  routerLinkActive="router-link-active" [routerLink]="['/menu/addsubmenu',mainmenu.id]">Add Submenu</a>
      <!-- [routerLink]="['/edit',1]" -->
      <button mat-button color="warn" >Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<!-- <mat-paginator *ngIf="incomes.length >0" [length]="totalIncomes" [pageSize]="itemsPerPage"
  [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator> -->
<!-- <p class="info-text mat-body-1" *ngIf="incomes.length <= 0 && !isLoading"> no posts added yet</p> -->
