<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active': item.path ? router.isActive(item.path, true): false, 'expanded': expanded}"
   class="menu-list-item">
  <mat-icon class="routeIcon">{{item.iconname}}</mat-icon>
  {{item.menuname}}
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-navmenu-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-navmenu-list>
</div>
